/* ----------- General ----------- */
html, body {
    overflow-x: hidden; 
    background-color: whitesmoke;
}

section {
    min-height: 110vh; 
    scroll-margin-top: 50px; 
    overflow-x: hidden; 
    padding: 50px 0; 
}

img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 1.8em;
    text-align: center;
}

/* couleurs des boutons */
.btn-primary {
    background-color: rgb(13, 141, 141)  !important; 
    border-color: none !important;
}

.btn-primary:hover {
    background-color: rgb(13, 141, 141) !important;
    border-color: none !important;
}

.btn-primary:active {
    background-color: rgb(13, 141, 141) !important;
    border-color: none !important;
}

.dropdown button {
    width: 100%; 
    margin: 10%;
    max-width: 300px;
    border: none;
}

/* ----------- Cards General ----------- */
.Cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 5%; 
    padding: 5%;
}

.Card {
    width: 100%; 
    max-width: 100%; 
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 5%;
    transition: transform 0.3s ease-in-out;
}

.Card:hover {
    transform: scale(1.05);
}

.imgCards {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Card h3 {
    padding-top: 3%;
    font-size: 1.4em;
    font-weight: bold;
}

.Card h5 {
    padding: 5%;
    font-size: 1.2em;
}

/* ----------- Cards Bouton ----------- */
.CardsB {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 1%; 
    margin-top: 3%;
}

.CardB {
    width: 100%; 
    max-width: 100%; 
    height: 150%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 5%;
    transition: transform 0.3s ease-in-out;
}

.CardB h4 {
    font-size: 1.5rem;
    margin-bottom: 5%;
    color: black;
    min-height: 60px
}

.LogoCard {
    width: 200px; 
    height: 200px; 
    margin-top: 20%; 
    object-fit: contain;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.CardB .btn {
    margin-top: 10%;
    border: none;
    padding: 2%;
}

/* ----------- Header ----------- */
header {
    width: 100%; 
    box-sizing: border-box;;
}

.custom-header:not(.active) {
    color: #212529;
    transition: color 0.3s ease-in-out; 
}

.nav-link.active.custom-header {
    background-color: rgb(13, 141, 141); 
    color: white; 
    transition: background-color 0.3s ease; 
}

.custom-header:active {
    color: #fff;
}

header img {
    max-width: 100%;   
    height: auto;      
    max-height: 50px;  
    object-fit: contain;
    margin-right: 15px; 
}

/* ----------- Presentation ----------- */
#Presentation .container{
    margin-top: 8%;
}

/* ----------- Formation ----------- */


/* ----------- Experience ----------- */


/* ---- ProjetAlternance ---- */



/* ----- Formulaire de contact ----- */
#Formulaire{
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
    width:60%;
    min-height: 70vh; 
}

#Formulaire div{
    margin: 2% 0;
}

#Formulaire label{
    margin-top : 0.5%;
}

#FormMessage{
    padding: 5%;
    text-align:start;
}

#Formulaire .form-check{
    text-align: justify;
    margin-left: 40%;
}

#infoPlusContain {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(13, 141, 141)  !important; 
    color: whitesmoke;
    border: #212529;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 3%;
    z-index: 1;
    text-align: center;
}

#infoPlus:hover + #infoPlusContain {
    display: block !important;
    cursor: pointer;
}

#infoPlusContain:hover{
    display: block !important;
    cursor: pointer;
}


/* ----------- Responsive ----------- */
@media (min-width: 600px) {
    .Cards {
        justify-content: center; 
    }
    
    .Card {
        width: calc(50% - 20px); /* 2 par ligne */
    }

    .CardB {
        width: calc(50% - 20px); /* 2 par ligne */
    }
}

@media (min-width: 900px) {
    .Card {
        width: calc(33.33% - 20px); /* 3 par ligne */
    }

    .CardB {
        width: calc(33.33% - 20px); /* 3 par ligne */
    }
}

@media (min-width: 1200px) {
    .Card {
        width: calc(24% - 20px); /* 4 par ligne */
    }

    .CardB {
        width: calc(24% - 20px); /* 4 par ligne */
    }
}