/* ----- General ----- */
section {
    min-height: 100vh; 
    scroll-margin-top: 50px; 
}

/* ----- Header ----- */
.custom-header:not(.active){
    color:#212529;
}

.custom-header:active{
    color:#fff;
}

/* ----- Acceuil ----- */
#Acceuil {
    margin-top: -1%; 
}

#Acceuil, #Presentation {
    padding-top: 75px;
}

/* ----- Presentation ----- */
#Presentation img {
    max-width: 150px;
    height: auto;
}

#Presentation p {
    font-size: 1rem;
    line-height: 1.5;
}